<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds" debug="false">
    <contextName>javaNotes</contextName>
    <property name="logback.logDir" value="var/log"/>

    <appender name="terminal" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%line %d{HH:mm:ss.SSS} [%thread] [%level] %logger{36}: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logToFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <File>${logback.logDir}/today.normal.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logback.logDir}/normal.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>15</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread] %level %logger{36} %line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="errorToFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>Error</level>
        </filter>
        <File>${logback.logDir}/today.error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logback.logDir}/error.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread] %level %logger{36} %line - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="terminal"/>
    </root>

    <logger name="org.apache.ibatis" level="DEBUG" additivity="false">
    </logger>
</configuration>